@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    /*typography*/
    --font-family: 'Outfit', sans-serif;
    --h1-font-size: 1.5rem;
    --p-font-size: .9375rem;
    --font-normal: 400;
    --font-bold: 700;
    /*color*/
    --body-color: hsl(212, 45%, 89%); 
    --card-color: hsl(0, 0%, 100%);
    --h1-color: hsl(218, 44%, 22%);
    --p-color: hsl(220, 15%, 55%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.qr-code {
    max-width: 100%;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    color: var(--h1-color);
    margin-bottom: 1.25rem;
}

p {
    font-size: var(--p-font-size);
    font-weight: var(--font-normal);
    color: var(--p-color);
    padding: 0 1.2rem;
    margin-bottom: 1.5rem;
}

body {
    font-family: var(--font-family);
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.card-container {
    background-color: var(--card-color);
    border-radius: 1rem;
    padding: 1.125rem;
    max-width: 20rem;
    box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 15%);
    margin: 4rem;
}

footer {
    position: sticky;
    top: 100%;
    padding-bottom: 10px;
}


.attribution { font-size: .6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }